<%page expression_filter="h"/>
<%inherit file="base.html" />
<%!
  from django.utils.translation import ugettext as _
  from django.core.urlresolvers import reverse
  from django.conf import settings
%>
<%block name="title">
  ${_("Course Validation")}
</%block>

<%block name="content">
  <style>
    .mybutton {
      background-color: #2266bb;
      color: #eedd55;
      display: inline-block;
      padding: 15px;
    }

    .passed .highlight {
      color: #11aa44;
    }

    .failed .highlight {
      color: #ff2200;
    }

    .mytable {
      width: 70%;
      border-spacing: 5px;
      text-align: center;
      font-size: 18px;
      margin: 10px;
    }

    .mytable-head {
      font-size: 22px;
    }

    .message {
      font-size: 16px;
    }

    .header {
      font-size: 26px;
    }

    .mypanel {
      border-style: solid;
      border-width: 1px;
    }

    .myhidden{
      visibility: hidden;
    }
  </style>
  <section class="content">
    <div class="introduction">
      <h2 class="title">${_("About Course Validation")}</h2>
      <div>
        <p> ${_("This tool is designed to check course before publishing. Different inspections and checks are being performed and then the report will be formed, shown to you and saved. Perhaps validation will take a little time.")}
        </p>
      </div>

      <h2 class="title">${_("Validation")}</h2>
      <a href="#" class="mybutton" title=${_("Execute validation")}>
                    <span>
                      ${_("Validate Course")}
                    </span>
      </a>
    </div>

    <div id="validreport" data-load="${validate_url}">
      <div id="#myloading" class="myhidden">
        <p>Идет загрузка, пожалуйста, подождите.</p>
      </div>
      <div id="results">

      </div>
    </div>
  </section>


  <script type="text/javascript">
    require(["jquery"], function ($) {
      $(document).ready(function () {

        $("#myloading").bind("ajaxSend", function(){
          $(this).show();
          }).bind("ajaxComplete", function(){
          $(this).hide();
          });

        $(".mybutton").click(function (event) {
          var dataurl = $("#validreport").attr('data-load')
          $.ajax({
            type: 'GET',
            url: dataurl,
            success: function(data){
              $("#results").html(data['html']);
            },

          })
          return false;
        })
      })
    })
  </script>

</%block>
